APP=app1
ENVIRONMENT=UAT
BROWSER=chromium
SUITE=regression
HEADLESS=true
WORKERS=1
RETRY_COUNT=0
RUN_BROWSER_TESTS=false
BASE_URL_APP1=https://www.cricbuzz.com
BASE_URL_APP2=https://www.google.com
REPORTS_DIR=reports
